version: "3.4"

services:

  solr:
    image: solr:8.4
    container_name: solarium-collection-manager-solr
    ports:
      - "8983:8983"
    environment:
      - SOLR_LOG_LEVEL=WARN
    command:
      - solr
      - start
      - -cloud
      - -f  # start solr in foreground
